version: '3.7'
services:
  postgres:
    container_name: simple-project-postgres
    image: postgres:16.12-alpine
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password 
      - POSTGRES_DB=test
    secrets:
      - postgres-password
    healthcheck:
      test: pg_isready -U postgres -d test
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  api:
    image: gawciuherodotus/simple-project:latest
    environment:
      - DATABASE_URL_FILE=/run/secrets/database-url
    secrets:
      - database-url
    networks: 
     - backend
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:3000/"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    deploy:
      update_config:
        order: start-first     
        failure_action: rollback
        delay: 10s

  frontend:
    image: gawciuherodotus/simple-project-frontend:latest
    environment:
      - HOSTNAME=0.0.0.0
      - PORT=3000
    networks: 
     - backend
     - frontend
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:3000/"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    configs:
      - source: nginx_config
        target: /etc/nginx/nginx.conf
    networks:
      - frontend
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/ping"]     
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s 

configs:
  nginx_config:
    file: ./nginx.conf
volumes:
  pgdata:
networks:
  frontend:
  backend:
secrets:
  database-url:
    external: true
  postgres-password:
    external: true